.topnav {
	background-color: #B2DFEE;
	height: 50px;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #FFFFFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav div {
	float: right;
	color: #000000;
	text-align: center;
	padding-right: 10px;
	padding-top: 10px;
	text-decoration: none;
	font-size: 17px;
}

body{
	margin: 0;
}
 h3{
 	text-align: center;
 }

.container{
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}

.formsContainer{
	background-color: #B2DFEE;
	margin: 15px;
	position: relative;
	top: 40px;
	width: 45%;
	height: 600px;
	border-radius: 25px;
	display: inline-block;
    vertical-align: top;
}

.fieldsContainer{
	margin: 0 auto;
	margin-top: 50px;
	background-color: #FFFFFF;	
	width: 80%;
	height: 350px;
	padding-top: 30px;
	border-radius: 25px;
	text-align: center;
	overflow: auto;
}

.NameField {
	margin-top: 10px;
	width: 75%;
	height: 40px;
	border-style: solid;
	border-width: 1px;
	border-radius: 25px;
	border-color: #46ABCC;
	cursor: pointer;
	background: url(Images/nameIcon.svg) no-repeat 7px 7px;
	padding-left: 40px;
}
/*input[type="text"]{
	padding-left: 40px
}*/

.EmailField {
	margin-top: 10px;
	width: 75%;
	height: 40px;
	border-style: solid;
	border-width: 1px;
	border-radius: 25px;
	border-color: #46ABCC;
	cursor: pointer;
	background: url(Images/emailIcon.svg) no-repeat 7px 13px;
	padding-left: 40px;
	
}

/*input[type="email"]{
	padding-left: 40px
}*/



.SchoolField {
	margin-top: 10px;
	width: 75%;
	height: 40px;
	border-style: solid;
	border-width: 1px;
	border-radius: 25px;
	border-color: #46ABCC;
	cursor: pointer;
	background: url(Images/schoolName.svg) no-repeat 7px 0px;
	padding-left: 40px;
}

.buttonFields{
	margin-top: 10px;
	width: 88%;
	height: 40px;
	border-style: solid;
	border-width: 1px;
	border-radius: 25px;
	color: #FFFFFF;
	border-color: #46ABCC;
	background-color: #46ABCC;
	cursor: pointer;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
  border-radius: 25px;
}

.modalInput{
	border-radius: 25px;
    text-align: center;
    margin: 5px 0px;
    background: url(Images/passwordIcon.svg) no-repeat 4px 4px;
    width: 50%;
    height: 40px;
}

.closeButton {
	color: #aaaaaa;
/*  	text-align: left;*/
	float: left;
  	font-size: 23px;
  	font-weight: bold;

}

.okButton {
	border-radius: 25px;
	text-align: center;
	background-color: #46ABCC;
	color: #ffffff;
	margin-top: 10px;
	width: 50%;
    height: 40px;
    border: none;

}

.closeButton:hover,
.closeButton:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.searchContainer {
	border-radius: 25px;
    text-align: center;
    margin: 5px 0px;
    width: 75%;
    height: 40px;
    border-color: #46ABCC;
    border-style: solid;
    border-width: 1px;
	
}

.searchContainer:focus{
	cursor: auto;
	outline: none;
}
.modalStyle{
	display: none; /* Hidden by default */
  	position: fixed; /* Stay in place */
  	z-index: 1; /* Sit on top */
  	padding-top: 100px; /* Location of the box */
  	left: 0px;
  	top: 0px;
  	width: 100%; /* Full width */
  	height: 100%; /* Full height */
  	overflow: auto; /* Enable scroll if needed */
  	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
}