.topnav {
	background-color: #B2DFEE;
	height: 50px;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #FFFFFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav div {
	float: right;
	color: #000000;
	text-align: center;
	padding-right: 10px;
	padding-top: 10px;
	text-decoration: none;
	font-size: 17px;
}

body{
	margin: 0;
}
 h3{
 	text-align: center;
 }

.container{
    margin: 0 auto;
    width: 1200px;
    text-align: center;
}

.formBackground{
	background-color: #B2DFEE;
	margin: auto;
	position: relative;
	top: 40px;
	width: 500px;
	height: 600px;
	border-radius: 25px;
	display: inline-block;
    vertical-align: top;
}

.fieldsContainer{
	margin: 0 auto;
	margin-top: 50px;
	background-color: #FFFFFF;	
	width: 400px;
	height: 350px;
	padding-top: 30px;
	border-radius: 25px;
	text-align: center;
}

.NameField {
	margin-top: 10px;
	width: 300px;
	height: 40px;
	border-style: solid;
	border-width: 1px;
	border-radius: 25px;
	border-color: #46ABCC;
	cursor: pointer;
	background: url(Images/nameIcon.svg) no-repeat 7px 7px;
}
input[type="text"]{
	padding-left: 40px
}

.EmailField {
	margin-top: 10px;
	width: 300px;
	height: 40px;
	border-style: solid;
	border-width: 1px;
	border-radius: 25px;
	border-color: #46ABCC;
	cursor: pointer;
	background: url(Images/emailIcon.svg) no-repeat 7px 13px;
	
}

input[type="email"]{
	padding-left: 40px
}

.SchoolField {
	margin-top: 10px;
	width: 300px;
	height: 40px;
	border-style: solid;
	border-width: 1px;
	border-radius: 25px;
	border-color: #46ABCC;
	cursor: pointer;
	background: url(Images/schoolName.svg) no-repeat 7px 0px;
}

.buttonFields{
	margin-top: 10px;
	width: 340px;
	height: 40px;
	border-style: solid;
	border-width: 1px;
	border-radius: 25px;
	border-color: #46ABCC;
	background-color: #46ABCC;
	cursor: pointer;
}