.text{
 font-size: 40px;
 text-align: center;
 margin-top: 25px;
}
body, html {
    margin: 0 auto;
	background-image: url(Images/books4.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
	height: 100%;
}


  
.logoContainer {
    text-align: center;
    padding-top: 10px;
}

.formBackground{
	background-color: #B2DFEE;
	margin: 0 auto;
	margin-top: 50px;
	width: 500px;
	height: 550px;
	border-radius: 25px;
}
.fieldsContainer{
	margin: 0 auto;
	width: 400px;
	height: 100px;
	padding-top: 30px;
	border-radius: 25px;
	text-align: center;
}

.enterFields {
	margin-top: 10px;
	width: 300px;
	height: 40px;
	border-style: solid;
	border-width: 1px;
	border-radius: 25px;
	border-color: #46ABCC;
	cursor: pointer;
}

.buttonFields{
	width: 300px;
	height: 40px;
	border-style: solid;
	border-width: 1px;
	border-radius: 25px;
	border-color: #46ABCC;
	background-color: #46ABCC;
	cursor: pointer;
}
.AdbttonFields{
	margin-top: 15px;
	width: 300px;
	height: 40px;
	border-style: solid;
	border-width: 1px;
	border-radius: 25px;
	border-color: white;
	background-color: white;
	cursor: pointer;
}


	