.topnav {
	background-color: #B2DFEE;
	height: 50px;
	overflow: hidden;
}

.topnav a {
	color: #FFFFFF;
	float: left;
	font-size: 17px;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
}

.topnav div {
	color: #000000;
	float: right;
	font-size: 17px;
	padding-right: 10px;
	padding-top: 10px;
	text-align: center;
	text-decoration: none;
}

body{
	margin: 0;
}


.searchBarWrapper{
	background-color: #B2DFEE;
	border-radius: 25px;
	margin: 0 auto;
	max-width: 900px;
	padding-bottom: 10px;
	padding-top: 10px;
	position: relative;
	text-align: center;
	top: 20px;
}

.selectWrapper{
	display:inline;
}

.selectBox{
	background-color: #46ABCC;
	border: none;
	border-radius: 25px;
	color: #FFFFFF;
	/*height: 35px;*/
	padding: 10px;
	/*width: 85px;*/
}

.searchBar{
	border: none;
	border-radius: 25px;
	height: 35px;
	width: 500px;
}

.bar{
	display:inline;	
	padding-left: 15px;
}

.searchButton{
	background-color: #46ABCC;
	background-image: url(images/searchIcon.svg);
	background-position: 80% 50%;
    background-repeat: no-repeat;
	background-size: 13px;
	border: none;
	border-radius: 25px;
	color: #FFFFFF;
	height: 35px;
	text-align: left;
	text-indent: 10px;
	width: 100px;
}

.saveSearch{
	border-radius: 50px;
	color: #FFFFFF;
	display:inline;	
	padding-left: 10px;
}


.textarea{
	background-color: #FFFFFF;
	border-radius: 25px;
}

.text{
	text-align:center;
}


/*javascript css for creating the search results*/
.row1{
	background-color: #FFFFFF;
	border: none;
	border-radius: 25px;
	height: 30px;	
	text-align:center;
	width: 175px;
}

.line{
	display: inline-block;
	text-align: center;	
	width: 12em;
	
}
.row2{
	background-color: #FFFFFF;
	border: none;
	border-radius: 25px;
	height: 100px;
	max-width: 600px;
	text-align:center;
}

.innerDiv{
	display: inline-block;
	vertical-align: middle;
}

.line2{
	margin: 1px;
	text-align: center;
}

.bookPic{
	height: 200px;
	left: 2%; 
	position: relative; 
	top: 50%; 
	vertical-align:middle;
	width: 200px;
	
}
.searchResult{
	background-color: #B2DFEE;
	border-radius: 25px;
	margin: 10px auto;
	max-width: 900px;
	padding-bottom: 10px;
	padding-top: 10px;
	position: relative;
	top: 20px;
}

.noresults{
	color: #FFFFFF;
	font-size: 20pt;
	font-weight: bold;
	text-align:center;
}
/*end of javascript css for creating search results */