.topnav {
	background-color: #B2DFEE;
	height: 50px;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #FFFFFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav div {
	float: right;
	color: #000000;
	text-align: center;
	padding-right: 10px;
	padding-top: 10px;
	text-decoration: none;
	font-size: 17px;
}

body{
	margin: 0;
}


.searchBarWrapper{
	margin: 0 auto;
	position: relative;
	top: 20px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #B2DFEE;
	border-radius: 25px;
	max-width: 900px;
		
}

.selectWrapper{
	display:inline;
}
.selectBox{
  width: 85px;
  height: 35px;
  padding-left: 15px;
  border-width: 0px;
  background-color: #46ABCC;
  border-radius: 25px;
  color: #FFFFFF;
}
#searchBar{
	height: 35px;
	width: 500px;
	border-radius: 25px;
	border: 0px solid black;
}
.bar{
	padding-left: 15px;
	display:inline;	
}
#searchButton{
	height: 35px;
	width: 100px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 25px;
	border: 0px solid black;
	background-color: #46ABCC;
	background-image: url(images/searchIcon.svg);
    background-repeat: no-repeat;
    background-position: 80% 50%;
	background-size: 13px;
	text-align:left;
	color: #FFFFFF;
}
.saveSearch{
	padding-left: 10px;
	color: #FFFFFF;
	border-radius: 50px;
	display:inline;	
}


.textarea{
	background-color: #FFFFFF;
	border-radius: 25px;
}

.text{
	text-align:center;
	margin-bottom: 0px;
}
/*javascript css*/
.searchResult{
	margin: 10px auto;
	position: relative;
	top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #B2DFEE;
	border-radius: 25px;
	max-width: 900px;
}


.innerDiv{
	display: inline-block;
	vertical-align: middle;
}
.row1{
	border: 0px solid black;
	width: 175px;
	height: 30px;
	background-color: #FFFFFF;
	border-radius: 25px;
	
}
.row2{
	border: 0px solid black;
	width: 600px;
	height: 100px;
	background-color: #FFFFFF;
	border-radius: 25px;
	
}

label.line{
	display: inline-block;
	width: 12em;
	text-align: center;	
}
.line2{
	margin: 0px;
	text-align: center;
}

.bookPic{
	position: relative; 
	left: 2%; 
	top: 50%; 
	vertical-align:middle;
	width: 200px;
	height: 200px;
}
input{
	text-align:center;
}
.noresults{
	text-align:center;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20pt;
}