/*start of nav*/
body, html{
	background-image: url(Images/books4.jpg);
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
	height: 100%;
	margin: 0;
	position: relative;
}
.topnav {
	background-color: #B2DFEE;
	height: 50px;
	overflow: auto;
}

.topnav a {
	color: #FFFFFF;
	float: left;
	font-size: 17px;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
}

.topnav div {
	color: #000000;
	float: right;
	font-size: 17px;
	padding-right: 10px;
	padding-top: 10px;
	text-align: center;
	text-decoration: none;
}


/*end of nav*/
.searchBarWrapper{
	background-color: #B2DFEE;
	border-radius: 25px;
	margin: 0 auto;
	max-width: 900px;
	padding-bottom: 10px;
	padding-top: 10px;
	position: relative;
	text-align: center;
	top: 20px;
}

.selectWrapper{
	display:inline;
}

.selectBox{
	background-color: #46ABCC;
	border: none;
	border-radius: 25px;
	box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.15);
	color: #FFFFFF;
	padding: 10px;
	
}

.searchBar{
	border: none;
	border-radius: 25px;
	height: 35px;
	width: 55%;
}

.bar{
	display:inline;	
	padding-left: 15px;
}

.searchButton{
	background-color: #46ABCC;
	background-image: url(images/searchIcon.svg);
	background-position: 80% 50%;
    background-repeat: no-repeat;
	background-size: 13px;
	border: none;
	border-radius: 25px;
	box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.15);
	color: #FFFFFF;
	height: 35px;
	text-align: left;
	text-indent: 10px;
	width: 100px;
	
}

.saveSearch{
	border-radius: 50px;
	color: #FFFFFF;
	display:inline;	
	padding-left: 10px;
}


.textarea{
	background-color: #FFFFFF;
	border-radius: 25px;
}

h1{
	text-align: center;
	
}
.text{
	background-color: #46ABCC;
	border-radius: 25px;
	color: #FFFFFF;
	margin: 0 auto;
	padding: 15px 10px;
	text-align: center;
}


/*javascript css for creating the search results*/
.searchResult{
	background-color: #B2DFEE;
	border-radius: 25px;
	margin: 10px auto;
	max-width: 900px;
	padding-bottom: 10px;
	padding-top: 10px;
	position: relative;
	top: 20px;
}

.row1{
	background-color: #FFFFFF;
	border: none;
	border-radius: 25px;
	height: 30px;	
	text-align:center;
	width: 90%;
}

.rowOneDiv{
	border: none;
	text-align: center;
}

.line{
	display: inline-block;
	text-align: center;	
	
}
.row2{
	background-color: #FFFFFF;
	border: none;
	border-radius: 25px;
	height: 100px;
	max-width: 600px;
	text-align:center;
	text-indent: 8px;
	width: 98%;
}

.innerDiv{
	display: inline-block;
	padding-left: 30px;
	padding-top: 10px;
	vertical-align: middle;
}

.line2{
	text-align: center;
}

.bookPic{
	height: 50%;
	left: 2%; 
	position: relative; 
	top: 50%; 
	vertical-align:middle;
	width: 20%;
	
}


.noresults{
	color: #FFFFFF;
	font-size: 20pt;
	font-weight: bold;
	text-align:center;
}
/*end of javascript css for creating search results */

/*beginning of html css for creating sell page*/
.sellBarWrapper{
	background-color: #B2DFEE;
	border-radius: 25px;
	margin: 0 auto;
	max-width: 900px;
	padding-bottom: 10px;
	padding-top: 10px;
	position: relative;
	text-align: center;
	top: 20px;
}
.bookBar{
	background: #FFFFFF;
	border: none;
	border-radius: 25px;
	color: #D6D6D6;
	height: 33px;
	text-align: center;
	top: 20px;
	width: 28%;
}
.bookBarRow1{
	padding-top: 10px;
	text-align: center;
}
.postBar{
	background: #FFFFFF;
	border:none;
	border-radius: 25px;
	height: 100px;
	margin-top: 20px;
	text-align: center;
	width: 90%;
}

.uploadImage{
	background: #46ABCC;
	border:none;
	border-radius: 100px;
	box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.15);
	color: white;
	height: 20px;	
}

.post{
	background: #46ABCC;
	border:none;
	border-radius: 100px;
	box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.15);
	color: white;
	height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	
}
.postButtons{
	margin-bottom: 10px;
	margin-right: 50px;
	margin-top: 10px;
	text-align: right;
}
/*end of html css for creating sell page*/

/*My Post Page Edit and Delete Button css*/
.myPostButton{
	background-color: #46ABCC;
	border: none;
	border-radius: 25px;
	box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.15);
	color: #FFFFFF;
	height: 25px;
	margin-left: 10px;
	text-align: center;
	width: 100px;
}

.divButton{
	text-align: right;
}

/*end of My posts page*/

/*my account page*/
.AccountInfo{
	text-align: center;
}
.container{
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}
.formsContainer{
	background-color: #B2DFEE;
	border-radius: 25px;
	display: inline-block;
	height: 600px;
	margin: 15px;
	position: relative;
	top: 40px;
	vertical-align: top;
	width: 45%;
}

.fieldsContainer{
	background-color: #FFFFFF;	
	border-radius: 25px;
	height: 350px;
	margin: 0 auto;
	margin-top: 50px;
	overflow: auto;
	text-align: center;
	width: 80%;
}

.NameField {
	background: url(Images/nameIcon.svg) no-repeat 7px 7px;
	border-color: #46ABCC;
	border-radius: 25px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	margin-top: 10px;
	padding: 15px 40px;
}

.EmailField {
	background: url(Images/emailIcon.svg) no-repeat 7px 13px;
	border-color: #46ABCC;
	border-radius: 25px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	margin-top: 10px;
	padding: 15px 40px;
}

.SchoolField {
	background: url(Images/schoolName.svg) no-repeat 7px 1px;
	border-color: #46ABCC;
	border-radius: 25px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	margin-top: 10px;
	padding: 15px 40px;
}

.buttonFields{
	background-color: #46ABCC;
	border-color: #46ABCC;
	border-radius: 25px;
	border-style: solid;
	border-width: 1px;
	color: #FFFFFF;
	cursor: pointer;
	height: 40px;
	margin-top: 10px;
	width: 88%;
}

.modal-content {
	background-color: #fefefe;
	border: 1px solid #888;
	border-radius: 25px;
	margin: 10% 20% 10% 20%;
	padding: 20px;
	text-align: center;
}

.modalInput{
	background: url(Images/passwordIcon.svg) no-repeat 4px 4px;
	border-radius: 25px;
	border-style: solid;
	border-width: 2px;
	height: 40px;
    margin: 5px 1px;
	position: relative;
	text-align: center;
    top: 15px;
	width: 80%;
}

.closeButton {
	color: #aaaaaa;
	float: left;
  	font-size: 23px;
  	font-weight: bold;

}

.okButton {
	background-color: #46ABCC;
	border: none;
	border-radius: 25px;
	color: #ffffff;
	height: 40px;
	text-align: center;
	width: 80%;
}

.closeButton:hover,
.closeButton:focus {
  color: #000;
  cursor: pointer;
  text-decoration: none;
 
}

.searchContainer {
	border-color: #46ABCC;
	border-radius: 25px;
    border-style: solid;
    border-width: 1px;
	height: 40px;
	margin: 5px 1px;
    text-align: center;
    width: 75%;
}

.searchContainer:focus{
	cursor: auto;
	outline: none;
}
.modalStyle{
	background-color: rgb(0,0,0);
  	background-color: rgba(0,0,0,0.4);
	display: none;	
	height: 100%;
  	left: -1px;
  	position: fixed;
  	top: -1px;
	width: 100%;
  	z-index: 1;  
	
}

.errorArea{
	background-color: red;
	text-align: center;
}

.errorMsg{
	color: white;
}
.Successmessage{
	background-color: #4CAF50;
	width: 100%;
	height: 30px;
	color: white;
	text-indent: 10px;
}

.Errormessage{
	background-color: #f44336;
	width: 100%;
	height: 30px;
	color: white;
	text-indent: 10px;
}
/*end of my posts page*/