.formBackgroundRegister{
	background-color: #B2DFEE;
	border-radius: 25px;
	height: 700px;
	margin: 0 auto;
	position: relative;
	top: 40px;
	width: 500px;
}

.formBackground{
	background-color: #B2DFEE;
	border-radius: 25px;
	height: 550px;
	margin: 0 auto;
	position: relative;
	top: 40px;
	width: 500px;
}

.logoContainer {
	padding-top: 10px;
	text-align: center;
}

body, html {
	background-image: url(Images/books4.jpg);
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
    height: 100%;
    margin: 0;
	position: relative;  
}

.fieldsContainerNoColor{
	border-radius: 25px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	width: 100%;
}

.fieldsContainerLogin{
	background-color: #FFFFFF;	
	border-radius: 25px;
	height: 175px;
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
	width: 400px;
}

.fieldsContainerRegister{
	background-color: #FFFFFF;
	border-radius: 25px;
	height: 350px;
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
	width: 400px;	
}

.EmailField {
	background: url(Images/emailIcon.svg) no-repeat 7px 13px;
	border-color: #46ABCC;
	border-radius: 25px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	height: 40px;
	margin-top: 10px;
	width: 300px;	
}

.PasswordField {
	background: url(Images/passwordIcon.svg) no-repeat 7px 7px;
	border-color: #46ABCC;
	border-radius: 25px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	height: 40px;
	margin-top: 10px;
	width: 300px;	
}

.UnlockPasswordField {
	background: url(Images/unlockPassword.svg) no-repeat -1px 5px;
	background-size: 40px 40px;
	border-color: #46ABCC;
	border-radius: 25px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	height: 40px;
	margin-top: 10px;
	width: 300px;
	
}


.NameField {
	background: url(Images/nameIcon.svg) no-repeat 5px 7px;
	background-size: 30px 25px;
	border-color: #46ABCC;
	border-radius: 25px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	height: 40px;
	margin-top: 10px;
	width: 300px;
}

.SchoolField {
	background: url(Images/schoolName.svg) no-repeat -1px 2px;
	background-size: 45px 45px;
	border-color: #46ABCC;
	border-radius: 25px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	height: 40px;
	margin-top: 10px;
	width: 300px;
}

input[type="email"]{
	padding-left: 40px
}

input[type="password"]{
	padding-left: 40px
}

input[type="text"]{
	padding-left: 40px
}

.buttonFields{
	background-color: #46ABCC;
	border-color: #46ABCC;
	border-radius: 25px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	height: 40px;
	margin-top: 10px;
	width: 300px;
}

.AdminbuttonFields{
	background-color: white;
	border-color: white;
	border-radius: 25px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	height: 40px;
	margin-top: 15px;
	width: 300px;
}

.linkContainer{
	margin: 0 auto;
	padding-top: 10px;
	text-align: center;
}

.redirectLink{
	color: black;
	text-decoration: none;
}

.text{
 text-align: center;
}

.Logo{
	height: 208.46px;
	width: 204.53px;
}