body, html {
   background-image: url(../Images/books4.jpg);
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
    height: 100%;
    margin: 0;
	position: relative;  
}

.text{
	text-align: center;
}

/*login page*/
.logoContainer {
	padding-top: 10px;
	text-align: center;
  
}


.formBackgroundLogin{
	background-color: #B2DFEE;
	border-radius: 25px;
	height: 550px;
	margin: 0 auto;
	position: relative;
	top: 40px;
	width: 500px;
}	

.fieldsContainerAdminLogin{
	background-color: #FFFFFF;	
	border-radius: 25px;
	height: 175px;
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
	width: 400px;
}

.EmailField {
	background: url(../Images/emailIcon.svg) no-repeat 7px 13px;
	border-color: #46ABCC;
	border-radius: 25px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	height: 40px;
	margin-top: 10px;
	min-width: 300px;
	padding-left: 40px;
}

.PasswordField {
	background: url(../Images/passwordIcon.svg) no-repeat 7px 7px;
	border-color: #46ABCC;
	border-radius: 25px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	height: 40px;
	margin-top: 10px;
	min-width: 300px;
	padding-left: 40px;
}

.buttonFields{
	background-color: #46ABCC;
	border-color: #46ABCC;
	border-radius: 25px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.15);
	color: white;
	cursor: pointer;
	height: 40px;
	margin-top: 10px;
	width: 300px;
}

.Logo{
	height: 208.46px;
	width: 204.53px;
}
/*end of login page*/

/*common css between posts and users*/


.topNav {
	background-color: #46ABCC;
	height: 50px;
	overflow: auto;
}

.topNav a {
	color: #FFFFFF;
	float: left;
	font-size: 17px;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
}

.topNav div {
	color: #000000;
	float: right;
	font-size: 17px;
	padding-right: 10px;
	padding-top: 10px;
	text-align: center;
	text-decoration: none;
}

.headings{
	background-color: #46ABCC;
	border-radius: 25px;
	color: #FFFFFF;
	padding: 5px 5px;
	text-align: center;
}
.searchMssg {
	color: #46ABCC;
	font-size: 20px;
	position: relative;
	text-align:center;
	top: 60px;
}
/*end of common css between posts and users*/
.deleteButton {
	background-color: #46ABCC;
	border: none;
	border-radius: 25px;
	color: white;
	height: 20px;
	margin: 0 auto;
	text-align: center;
	width: 100px;
}

.searchResult{
	background-color: #46ABCC;
	border-radius: 25px;
	margin: 10px auto;
	max-width: 900px;
	padding-bottom: 10px;
	padding-top: 10px;
	position: relative;
	top: 80px;
}

.noresults{
	color: #FFFFFF;
	font-size: 20pt;
	font-weight: bold;
	text-align:center;
}

.row1{
	background-color: #FFFFFF;
	border: none;
	border-radius: 25px;
	height: 30px;	
	text-align:center;
	width: 90%;
}

/*css for managePosts */
.searchField{
	background-color: #46ABCC;
	border-radius: 25px;
	margin: 0 auto;
	max-width: 900px;
	padding-bottom: 10px;
	padding-top: 10px;
	position: relative;
	text-align: center;
	top: 80px;
}

.selectWrapper{
	display:inline;
}

.selectBox{
	background-color: #B2DFEE;
	border: none;
	border-radius: 25px;
	box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.15);
	color: #FFFFFF;
	padding: 10px;
	
}

.searchBar{
	border: none;
	border-radius: 25px;
	height: 35px;
	width: 55%;
}

.bar{
	display:inline;	
	padding-left: 15px;
}

.searchButton{
	background-color:  #B2DFEE;
	background-image: url(../Images/searchIcon.svg);
	background-position: 80% 50%;
    background-repeat: no-repeat;
	background-size: 13px;
	border: none;
	border-radius: 25px;
	box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.15);
	color: #FFFFFF;
	height: 35px;
	text-align: left;
	text-indent: 10px;
	width: 100px;
	
}

.bookPic{
	height: 50%;
	left: 2%; 
	position: relative; 
	top: 50%; 
	vertical-align:middle;
	width: 20%;
	
}

.myPostButton{
	background-color: #B2DFEE;
	border: none;
	border-radius: 25px;
	box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.15);
	color: #FFFFFF;
	height: 25px;
	margin-left: 10px;
	text-align: center;
	width: 100px;
}

.line{
	color: #FFFFFF;
	display: inline-block;
	text-align: center;		
}

.rowOneDiv{
	border: none;
	text-align: center;
}

.row2{
	background-color: #FFFFFF;
	border: none;
	border-radius: 25px;
	height: 100px;
	max-width: 600px;
	text-align:center;
	text-indent: 8px;
	width: 98%;
}

.innerDiv{
	display: inline-block;
	padding-left: 30px;
	padding-top: 10px;
	vertical-align: middle;
}

.line2{
	color: #FFFFFF;
	text-align: center;
}


.divButton{
	text-align: right;
}
/*end of css for managePosts */

/*css for manageUsers */
.lockCheck{
	border-radius: 25px;
	box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.15);
	height: 20px;
	width: 20px;
}

.userline{
	color: #FFFFFF;
	display: inline-block;
	padding-left: 50px;
	text-align: center;
	vertical-align: middle;
}

.usersInnerDiv{
	padding-top: 10px;
	text-align: center;
	vertical-align: middle;
}
/*end of css for manageUsers*/
